@using GCDS.NetTemplate.Components
@using GCDS.NetTemplate.Templates
@using GCDS.NetTemplate.Core

@{
    InternalApp? template = ViewData.GetTemplate<InternalApp>();
    ArgumentNullException.ThrowIfNull(template, CommonConstants.ERRMSG_LOAD_TEMPLATE);
    Layout = "_Layout.Base.cshtml"; // Use the base layout for this template
}

@section LayoutBody {
    @{
        ArgumentNullException.ThrowIfNull(template.Header,
            "Header must be set when using this template.");
    }
    @await Html.PartialAsync("ExtAppHeader.cshtml", template.Header)

    <gcds-container size="xl" centered main-container>
        <main id="@CommonConstants.SKIP_TO_CONTENT_ID" role="main">
            @RenderBody()
        </main>

        <aside>
            @await Html.PartialAsync("GcdsDateModified.cshtml", template.DateModified)
            @await Html.PartialAsync("PageIdentifier.cshtml", new CommonProps { Lang = template.Lang })
        </aside>
    </gcds-container>

    @await Html.PartialAsync("GcdsFooter.cshtml", template.Footer)
}
