@using GCDS.NetTemplate.Templates
@using GCDS.NetTemplate.Core

@{
    var template = ViewData.GetTemplateBase();
    ArgumentNullException.ThrowIfNull(template, CommonConstants.ERRMSG_LOAD_TEMPLATE);

    var pageTitle = ViewData["PageTitle"] as string;
    if (!string.IsNullOrEmpty(pageTitle))
    {
        template.PageTitle = string.IsNullOrEmpty(template.PageTitle)
            ? pageTitle
            : template.PageTitleAction switch
            {
                TemplateBase.ViewDataAction.Prepend => $"{pageTitle} - {template.PageTitle}",
                TemplateBase.ViewDataAction.Append => $"{template.PageTitle} - {pageTitle}",
                _ => pageTitle
            };
    }
}

<!DOCTYPE html>
<html lang="@template.Lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@template.PageTitle</title>
    @await Html.PartialAsync("ExtHeadSettings.cshtml", template.Settings)
    @foreach (var headElement in template.HeadElements)
    {
        @await Html.PartialAsync("ExtHtmlElement.cshtml", headElement)
    }
    @await RenderSectionAsync("PageHead", required: false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("PageScripts", required: false)
</body>
</html>
