@using GCDS.NetTemplate.Components
@using GCDS.NetTemplate.Core
@using Microsoft.AspNetCore.Html

@model ExtLanguageSelector

@functions {
	IHtmlContent RenderLanguageSelectorBlock(string lang, string title, string href, string label)
	{
		return new HtmlString($@"
			<div>
				<h2 lang='{lang}'>{title}</h2>
				<gcds-button type='link' href='{href}' lang={lang}'>{label}</gcds-button>
			</div>
		");
	}
}

@{
	var enBlock = RenderLanguageSelectorBlock("en", Model.EnglishTitle, Model.EnglishHref, "English");
	var frBlock = RenderLanguageSelectorBlock("fr", Model.FrenchTitle, Model.FrenchHref, "Français");
}

<style>
	gcds-grid div:first-child {
		text-align: right;
	}
	gcds-grid div {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
	}
</style>

<gcds-grid columns="1fr 1fr">
	@if (Model.Lang == CommonConstants.ENGLISH_CULTURE_TWO_LETTER)
	{
		@enBlock
		@frBlock
	}
	else
	{
		@frBlock
		@enBlock
	}
</gcds-grid>
