@using GCDS.NetTemplate.Components
@using GCDS.NetTemplate.Core
@using Microsoft.AspNetCore.Html

@model ExtLanguageSelector

@functions {
	IHtmlContent RenderLanguageSelectorBlock(string lang, string title, string href, string label)
	{
		return new HtmlString($@"
			<div lang='{lang}'>
				<h2>{title}</h2>
				<gcds-button type='link' href='{href}'>{label}</gcds-button>
			</div>
		");
	}
}

@{
	var enBlock = RenderLanguageSelectorBlock("en", Model.EnglishTitle, Model.EnglishHref, "English");
	var frBlock = RenderLanguageSelectorBlock("fr", Model.FrenchTitle, Model.FrenchHref, "Français");
}

<gcds-grid id="gnt-language-selector" columns-tablet="1fr 1fr">
	@if (Model.Lang.Contains(CommonConstants.ENGLISH_CULTURE_TWO_LETTER))
	{
		@enBlock
		@frBlock
	}
	else
	{
		@frBlock
		@enBlock
	}
</gcds-grid>
