@using GCDS.NetTemplate.Components

<h1>Welcome</h1>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<p>Other Pages</p>
<ul>
    <li><a href="@Url.Action("Internal", "Home")">Internal Example (custom page)</a></li>
    <li><a href="@Url.Action("AltInternal", "Home")">Alt Internal Example (custom page)</a></li>
</ul>
