@using GCDS.NetTemplate.Components
@{
    ViewData["PageIdentifier"] = "CESG4010F";

    ViewBag.PageTitle = "Home Page"; // could use a localizer here
    ViewBag.Breadcrumbs = new List<GcdsLink> {
        new("#", "Go back") // can use a Url.Action here
    };
}

<h1>Hello!</h1>
<p>This is a internal site design for an application.</p>

@await Html.PartialAsync("Links")
