@using GCDS.NetTemplate.Components
@{
    Layout = "GCDS.NetTemplate/_Layout.SideNav";
}

<h1>Hello!</h1>
<p>This is<br />a internal site<br /> design for<br /> an application<br /> with<br /> a left nav.</p>
<h2>Lots of text</h2>
<p>I want to<br /> add a lot of content<br /> so that the page<br /> will be really tall<br /> and I can see<br /> how the left menu<br /> will respond <br /> with a lot of height.</p>
<hr />
<h2>Even more</h2>
<p>I still<br />need a lot more<br />text to evaluate<br />if the responsiveness<br /> is acceptable.</p>

@await Html.PartialAsync("Links")
