@using GCDS.NetTemplate.Components
@{
    Layout = "GCDS.NetTemplate/_Layout.SideNav";
}

@section PreContent {
    <h1>Hello!</h1>
}

<p>This is a internal site design for an application with a left nav.</p> 
<p>The `h1` comes before the left menu, and is still inside the `main` tag.</p>

@await Html.PartialAsync("Links")

@section PostContent {
    <p>This is the post content section that displays bellow the left menu.</p>
}
