@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>Other Pages</p>
<ul>
    <li><a href="@Url.Page("Internal")">Internal Example (custom page)</a></li>
    <li><a href="@Url.Page("InternalSideNav")">Side Nav Internal Example (custom page)</a></li>
</ul>