@page
@model InternalModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["PageIdentifier"] = "CESG4010F";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
