@page
@model GCDS.NetTemplate.Razor.Sanity.Pages.InternalSideNavModel
@{
    Layout = "GCDS.NetTemplate/_Layout.InternalApp.SideNav";
}

<h1>Side Nav Layout</h1>

<p>Use this page to detail your site's privacy policy.</p>