@using GCDS.NetTemplate.Components.Gcds
@using GCDS.NetTemplate.Templates
@using GCDS.NetTemplate.Templates.Custom
@using GCDS.NetTemplate.Utils
@{
	InternalAppTemplate? template = ViewData.GetTemplate<InternalAppTemplate>();
	ArgumentNullException.ThrowIfNull(template, "Must call AddTemplateServices() in Program, and load the InternalAppTemplate to use this layout");
}

<!DOCTYPE html>
<html lang="@template.Lang">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0" />

	<title>@template.PageTitle</title>

	@await Html.PartialAsync("Head", template.Settings)

</head>
<body>
	@{
		ArgumentNullException.ThrowIfNull(template.Header, "Header must be set when using this template.");
		template.Header.LanguageToggleHref = template.LanguageToggleHref;
	}
	@await Html.PartialAsync("Custom/InternalAppHeader", template.Header)

	<gcds-container size="xl"
					centered
					main-container>
		<main id="@Constants.SKIP_TO_CONTENT_ID"
			  role="main">
			@RenderBody()
		</main>
	</gcds-container>

	@await Html.PartialAsync("Gcds/Footer", template.Footer)

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
