@using GCDS.NetTemplate.Models;
@using GCDS.NetTemplate.Utils
@{
    ITemplateModel webTemplateModel = (ITemplateModel)ViewData[Constants.TEMPLATE_MODEL];
}

<!DOCTYPE html>
<html lang="@webTemplateModel.Lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@webTemplateModel.PageTitle</title>

	@await Html.PartialAsync("Head", webTemplateModel.TemplateSettings)
</head>
<body>
    <header>
		@{
            webTemplateModel.Header.LangHref = webTemplateModel.LanguageToggleHref;
        }
		@await Html.PartialAsync("Header", webTemplateModel.Header)
    </header>

    <gcds-container size="xl" centered main-container>
        <main id="main-content" role="main">
            @RenderBody()
        </main>
    </gcds-container>

    @await Html.PartialAsync("Footer", webTemplateModel.Footer)

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
